<div class="homes-top-wrapper">
  <div class="homes-top-photos">
    <%= image_tag "/assets/kourijima112.jpg", size: '300x400', class: 'homes-top-photo' %>
    <%= image_tag "/assets/sample03.jpg", size: '300x400', class: 'homes-top-photo' %>
    <%= image_tag "/assets/sample04.jpg", size: '300x400', class: 'homes-top-photo' %>
    <%= image_tag "/assets/sample05.jpg", size: '300x400', class: 'homes-top-photo' %>
    <%= image_tag "/assets/sample07.jpg", size: '300x400', class: 'homes-top-photo' %>
  </div>
  <div class="homes-top-links">
  </div>
</div>