<div class="container">
  <div class="homes-top-logo-wrapper">
    <p class="homes-top-logo">Pic-mon</p>
  </div>
  <div class="homes-top-slider-wrapper">
    <div class="homes-top-slider">
      <%= image_tag "/assets/kourijima112.jpg", size: '300x400', class: 'homes-top-slide' %>
      <%= image_tag "/assets/sample03.jpg", size: '300x400', class: 'homes-top-slide' %>
      <%= image_tag "/assets/sample04.jpg", size: '300x400', class: 'homes-top-slide' %>
      <%= image_tag "/assets/sample05.jpg", size: '300x400', class: 'homes-top-slide' %>
      <%= image_tag "/assets/sample07.jpg", size: '300x400', class: 'homes-top-slide' %>
    </div>
  </div>
  <div class="homes-top-links">
    <%= link_to 'Login', new_user_session_path, class: 'homes-top-link homes-top-link-login' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'homes-top-link homes-top-link-signup' %>
  </div>
</div>