<div class="photo-show-wrapper">
  <div class="photo-show-image">
    <%= image_tag @photo.image.url, size: '300x300' %>
  </div>
  <div class="photo-show-info">
    <%= @photo.title %>
    <%= @photo.detail %>
    <%= @photo.spot %>
    <% if user_signed_in? %>
      <% if @photo.liked_by?(current_user) %>
        <%= link_to 'liked', photo_likes_path(@photo), method: :delete %>
      <% else %>
        <%= link_to 'like', photo_likes_path(@photo), method: :post %>
      <% end %>
    <% else %>
      <%= link_to 'like', new_user_session_path %>
    <% end %>
    <div class="photo-show-comment-form">
      <% if user_signed_in? %>
        <%= form_with model: @comment, url: photo_comments_path(@photo), method: :post, local: true do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit 'Create Comment' %>
        <% end %>
      <% else %>
        <%= link_to 'comment', new_user_session_path %>
      <% end %>
    </div>
    <div class="photo-show-comment-index">
      <% @comments.each do |comment| %>
        <%= comment.comment %>
        <%= comment.user.name %>
      <% end %>
    </div>
    <% if user_signed_in? && @photo.user == current_user %>
      <%= link_to 'edit', edit_photo_path(@photo) %>
      <%= link_to 'delete', photo_path(@photo), method: :delete, "data-confirm" => "Are you sure?" %>
    <% end %>
  </div>
</div>